doc/xsd/Doc/WAY4AccTrans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ow="http://www.openwaygroup.com/xmlns/ufxtypes" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:include schemaLocation="WAY4DocBase.xsd"/>
    <xs:complexType name="W4AT_DocInfo">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DocRefSet" type="W4C_ParmSet">
                <xs:annotation>
                    <xs:appinfo> Set of Document Identifiers. Supported values: RRN, IRN, SRN, ARN, AuthCode, DRN, TRN, ReconsRN, ReceiptRN. Parm/ParmType is reserved for future use</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:appinfo>Document Details</xs:appinfo>
                </xs:annotation>
                <xs:element maxOccurs="1" minOccurs="0" name="LocalDt" type="W4D_DateTime">
                    <xs:annotation>
                        <xs:appinfo> Local Date of the transaction(transaction date)</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="NWDt" type="W4D_DateTime">
                    <xs:annotation>
                        <xs:appinfo>Network date of the transaction </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="AuthDt" type="W4D_DateTime">
                    <xs:annotation>
                        <xs:appinfo>Authorization Date. Date when funds were blocked</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="Description" type="W4D_String">
                    <xs:annotation>
                        <xs:appinfo> Transaction description</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="SourceDtls" type="W4C_DeviceTransDetails">
                    <xs:annotation>
                        <xs:appinfo>Source details</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:appinfo>DocPhases</xs:appinfo>
                </xs:annotation>
                <xs:element maxOccurs="1" minOccurs="0" name="AmountData" type="W4DC_Phase">
                    <xs:annotation>
                        <xs:appinfo> Transaction financial information</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_AccountType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnalyticAccount" type="W4T_AnalytAccount"/>
            <xs:element maxOccurs="1" minOccurs="1" name="SyntAccount" type="W4T_SynthAccount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_AnalytAccount">
        <xs:complexContent>
            <xs:extension base="W4T_BaseAccount">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="Contractor" type="W4DC_Contractor">
                        <xs:annotation>
                            <xs:appinfo>Reserved for future use</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="W4T_AnalytTransfer">
        <xs:complexContent>
            <xs:restriction base="W4T_Transfer">
                <xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>References</xs:documentation>
                        </xs:annotation>
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="0" name="GroupRefN" type="W4D_LongCode">
                                <xs:annotation>
                                    <xs:appinfo> Transaction description</xs:appinfo>
                                    <xs:documentation>ID for the group of conversion transfers. Used to search for transfer pairs.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="SynthRefN" type="W4D_Code">
                                <xs:annotation>
                                    <xs:appinfo> Transaction description</xs:appinfo>
                                    <xs:documentation>Unique transfer number</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="SynthRoleCode" type="W4D_Code"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="SynthCode" type="W4D_Code">
                                <xs:annotation>
                                    <xs:appinfo> Transaction description</xs:appinfo>
                                    <xs:documentation>Transfer code set in the GL_TRANS_CODE field of the GL_TRANSFER table.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="TransferDescription" type="W4D_String"/>
                        </xs:sequence>
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="1" name="AnalyticRefN" type="W4D_Counter"/>
                        </xs:sequence>
                        <xs:sequence maxOccurs="1" minOccurs="0">
                            <xs:element maxOccurs="1" minOccurs="0" name="InstitutionIdType" type="W4D_Code"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="Institution" type="W4D_MemberID"/>
                        </xs:sequence>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Accounts</xs:documentation>
                        </xs:annotation>
                        <xs:element maxOccurs="1" minOccurs="1" name="Credit" type="W4T_TransEntry"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Debit" type="W4T_TransEntry"/>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Finance</xs:documentation>
                        </xs:annotation>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Extra" type="W4DC_Extra">
                            <xs:annotation>
                                <xs:appinfo> Extra Information</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" name="Status" type="W4D_Code"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="PostingDate" type="W4D_Date"/>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" name="DocInfo" type="W4AT_DocInfo">
                            <xs:annotation>
                                <xs:appinfo> Local Date of the transaction(transaction date)</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" name="ReversalInfo" type="W4T_ReversalInfo"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="W4T_BaseAccount">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AccountType" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="1" name="AccountNumber" type="W4D_LongCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_SynthAccount">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AccountType" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="1" name="AccountNumber" type="W4D_LongCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_SynthTransfer">
        <xs:complexContent>
            <xs:restriction base="W4T_Transfer">
                <xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>References</xs:documentation>
                        </xs:annotation>
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="0" name="GroupRefN" type="W4D_LongCode">
                                <xs:annotation>
                                    <xs:appinfo> Transaction description</xs:appinfo>
                                    <xs:documentation>ID for the group of conversion transfers. Used to search for transfer pairs.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="SynthRefN" type="W4D_Code">
                                <xs:annotation>
                                    <xs:appinfo> Transaction description</xs:appinfo>
                                    <xs:documentation>Unique transfer number</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="SynthRoleCode" type="W4D_Code"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="SynthCode" type="W4D_Code">
                                <xs:annotation>
                                    <xs:appinfo> Transaction description</xs:appinfo>
                                    <xs:documentation>Transfer code set in the GL_TRANS_CODE field of the GL_TRANSFER table.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="TransferDescription" type="W4D_String"/>
                        </xs:sequence>
                        <xs:sequence maxOccurs="1" minOccurs="0">
                            <xs:element maxOccurs="1" minOccurs="0" name="InstitutionIdType" type="W4D_Code"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="Institution" type="W4D_MemberID"/>
                        </xs:sequence>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Accounts</xs:documentation>
                        </xs:annotation>
                        <xs:element maxOccurs="1" minOccurs="1" name="Credit" type="W4T_TransEntry"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Debit" type="W4T_TransEntry"/>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Finance</xs:documentation>
                        </xs:annotation>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Extra" type="W4DC_Extra">
                            <xs:annotation>
                                <xs:appinfo> Extra Information</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" name="Status" type="W4D_Code"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="PostingDate" type="W4D_Date"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="W4T_TransEntry">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnalyticAccount" type="W4T_AnalytAccount"/>
            <xs:element maxOccurs="1" minOccurs="1" name="SyntAccount" type="W4T_SynthAccount"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Amount" type="W4D_Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LocalAmount" type="W4D_Amount"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Currency" type="W4D_Currency"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_Transfer">
        <xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>References</xs:documentation>
                </xs:annotation>
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="GroupRefN" type="W4D_LongCode">
                        <xs:annotation>
                            <xs:appinfo> Transaction description</xs:appinfo>
                            <xs:documentation>ID for the group of conversion transfers. Used to search for transfer pairs.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="SynthRefN" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo> Transaction description</xs:appinfo>
                            <xs:documentation>Unique transfer number</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="SynthRoleCode" type="W4D_Code"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="SynthCode" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo> Transaction description</xs:appinfo>
                            <xs:documentation>Transfer code set in the GL_TRANS_CODE field of the GL_TRANSFER table.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="TransferDescription" type="W4D_String"/>
                </xs:sequence>
                <xs:sequence maxOccurs="1" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="AnalyticRefN" type="W4D_Counter"/>
                </xs:sequence>
                <xs:sequence maxOccurs="1" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="InstitutionIdType" type="W4D_Code"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="Institution" type="W4D_MemberID"/>
                </xs:sequence>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Accounts</xs:documentation>
                </xs:annotation>
                <xs:element maxOccurs="1" minOccurs="1" name="Credit" type="W4T_TransEntry"/>
                <xs:element maxOccurs="1" minOccurs="1" name="Debit" type="W4T_TransEntry"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Finance</xs:documentation>
                </xs:annotation>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Extra" type="W4DC_Extra">
                    <xs:annotation>
                        <xs:appinfo> Extra Information</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="0" name="Status" type="W4D_Code"/>
                <xs:element maxOccurs="1" minOccurs="1" name="PostingDate" type="W4D_Date"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="0" name="DocInfo" type="W4AT_DocInfo">
                    <xs:annotation>
                        <xs:appinfo> Local Date of the transaction(transaction date)</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="0" name="ReversalInfo" type="W4T_ReversalInfo"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_ReversalInfo">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="ReversalPlanID" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ReversalRole" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OriginalTransferID" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReversalTransferID" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActionDoc" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Reason" type="W4D_Name"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GLType" type="W4D_Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AnalytTransfer" type="W4T_AnalytTransfer"/>
    <xs:element name="SynthTransfer" type="W4T_SynthTransfer"/>
</xs:schema>
