doc/xsd/OffLine/WAY4TariffDomainFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ow="http://www.openwaygroup.com/xmlns/ufxtypes" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:include schemaLocation="WAY4FileTypes.xsd"/>
    <xs:include schemaLocation="../Tariff/WAY4Tariff.xsd"/>
    <xs:complexType name="W4F_TariffDomainFile">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="FileHeader">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="W4F_FileHeader">
                            <xs:sequence>
                                <xs:sequence maxOccurs="1" minOccurs="1">
                                    <xs:element maxOccurs="1" minOccurs="0" name="FileLabel" type="W4D_Code">
                                        <xs:annotation>
                                            <xs:appinfo>File label defines type of the file content.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="FormatVersion" type="W4D_Version">
                                        <xs:annotation>
                                            <xs:appinfo>File format version: 2.0</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="0" name="Sender" type="W4D_Code">
                                        <xs:annotation>
                                            <xs:appinfo>Sender code. The code from the "Member ID" field of the BIN table ("Full \ Configuration Setup \ Routing \ BIN Groups \ [BIN Table]")</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="CreationDate" type="W4D_Date">
                                        <xs:annotation>
                                            <xs:appinfo>File creation date.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="CreationTime" type="W4D_Time">
                                        <xs:annotation>
                                            <xs:appinfo>File creation time.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:choice maxOccurs="1" minOccurs="1">
                                        <xs:element maxOccurs="1" minOccurs="1" name="FileSeqNumber" type="W4D_Counter">
                                            <xs:annotation>
                                                <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Number" type="W4D_Counter">
                                            <xs:annotation>
                                                <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:choice maxOccurs="1" minOccurs="1">
                                        <xs:element maxOccurs="1" minOccurs="0" name="Receiver" type="W4D_Code">
                                            <xs:annotation>
                                                <xs:appinfo>ID of financial institution assigned to the
Doc. Codes are defined in the Branch
Code field of the Financial Institutions table
("Full \ Configuration Setup \ Main Tables \
Financial Institutions").</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Institution" type="W4D_Code">
                                            <xs:annotation>
                                                <xs:appinfo>ID of financial institution assigned to the
application. Codes are defined in the Branch
Code field of the Financial Institutions table
("Full \ Configuration Setup \ Main Tables \
Financial Institutions").</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:choice>
                                </xs:sequence>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="TariffDomains">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="TariffDomain" type="W4F_TariffDomain"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_TariffDomainFile">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="FileHeader">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="W4F_FileHeader">
                            <xs:sequence>
                                <xs:sequence maxOccurs="1" minOccurs="1">
                                    <xs:element maxOccurs="1" minOccurs="0" name="FileLabel" type="W4D_Code">
                                        <xs:annotation>
                                            <xs:appinfo>File label defines type of the file content.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="FormatVersion" type="W4D_Version">
                                        <xs:annotation>
                                            <xs:appinfo>File format version: 2.0</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="0" name="Sender" type="W4D_Code">
                                        <xs:annotation>
                                            <xs:appinfo>Sender code. The code from the "Member ID" field of the BIN table ("Full \ Configuration Setup \ Routing \ BIN Groups \ [BIN Table]")</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="CreationDate" type="W4D_Date">
                                        <xs:annotation>
                                            <xs:appinfo>File creation date.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="CreationTime" type="W4D_Time">
                                        <xs:annotation>
                                            <xs:appinfo>File creation time.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:choice maxOccurs="1" minOccurs="1">
                                        <xs:element maxOccurs="1" minOccurs="1" name="FileSeqNumber" type="W4D_Counter">
                                            <xs:annotation>
                                                <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Number" type="W4D_Counter">
                                            <xs:annotation>
                                                <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:choice maxOccurs="1" minOccurs="1">
                                        <xs:element maxOccurs="1" minOccurs="0" name="Receiver" type="W4D_Code">
                                            <xs:annotation>
                                                <xs:appinfo>ID of financial institution assigned to the
Doc. Codes are defined in the Branch
Code field of the Financial Institutions table
("Full \ Configuration Setup \ Main Tables \
Financial Institutions").</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Institution" type="W4D_Code">
                                            <xs:annotation>
                                                <xs:appinfo>ID of financial institution assigned to the
application. Codes are defined in the Branch
Code field of the Financial Institutions table
("Full \ Configuration Setup \ Main Tables \
Financial Institutions").</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:choice>
                                </xs:sequence>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="Domains">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="Domain" type="W4T_TariffDomain"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TariffDomain" type="W4F_TariffDomain"/>
    <xs:element name="TariffDomainFile" type="W4F_TariffDomainFile"/>
    <xs:element name="TariffDomainsFile" type="W4T_TariffDomainFile"/>
    <xs:element name="Domain" type="W4T_TariffDomain"/>
</xs:schema>
