src/main/resources/xsd/OffLine/WAY4ApplFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ow="http://www.openwaygroup.com/xmlns/ufxtypes" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:include schemaLocation="WAY4FileTypes.xsd"/>
    <xs:include schemaLocation="../Application/WAY4Appl.xsd"/>
    <xs:simpleType name="W4R_ErrorText">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="W4R_LoadingStatus">
        <xs:restriction base="xs:string">
            <xs:maxLength value="23"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="W4A_FileTrailer">
        <xs:choice>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="1" name="LoadingStatus" type="W4R_LoadingStatus">
                    <xs:annotation>
                        <xs:appinfo>File loading status: "FILE REJECTED" – file rejected;"FILE ACCEPTED" – file accepted;"FILE ACCEPTED PARTIALLY" – file was partially accepted; some applications were rejected</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="NOfAcceptedRecs" type="W4D_Counter">
                    <xs:annotation>
                        <xs:appinfo>Number of accepted applications</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="NOfRejectedRecs" type="W4D_Counter">
                    <xs:annotation>
                        <xs:appinfo>Number of rejected applications</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CheckSum">
                <xs:annotation>
                    <xs:documentation>File check sum</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="W4F_CheckSum">
                            <xs:sequence>
                                <xs:element maxOccurs="0" minOccurs="0" name="BatchesCount" type="W4D_Counter">
                                    <xs:annotation>
                                        <xs:documentation>Count of batches in the File</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="1" minOccurs="1" name="RecsCount" type="W4D_Counter">
                                    <xs:annotation>
                                        <xs:documentation>Count of single items in the File</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="0" minOccurs="0" name="HashTotalAmount" type="W4D_Amount">
                                    <xs:annotation>
                                        <xs:documentation>File total amount</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="W4A_Notification">
        <xs:sequence>
            <xs:choice maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="1" name="OrigAppNumber" type="W4D_Code">
                    <xs:annotation>
                        <xs:appinfo>Application number in the incoming file</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="OrigLineNumber" type="W4D_Code">
                    <xs:annotation>
                        <xs:appinfo>Deprecated</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="RegNumber" type="W4D_ApplRegNumber">
                <xs:annotation>
                    <xs:appinfo>Application Registration Number</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="1" name="Application" type="W4T_Application">
                    <xs:annotation>
                        <xs:appinfo>Application Response</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="W4D_Code"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="ErrorText" type="W4R_ErrorText">
                        <xs:annotation>
                            <xs:appinfo>Error description</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="Status" type="W4C_ApplStatus">
                    <xs:annotation>
                        <xs:appinfo> Loading status</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4R_ApplicationResponseFile">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="FileHeader" type="W4R_ResponseFileHeader">
                <xs:annotation>
                    <xs:appinfo>File registration information.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="1" name="NotificationsList">
                    <xs:annotation>
                        <xs:appinfo>Notification list. If there are no errors, it is left
empty</xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Notification" type="W4A_Notification">
                                <xs:annotation>
                                    <xs:appinfo>Notification</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="W4D_Code"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="ErrorText" type="W4R_ErrorText">
                        <xs:annotation>
                            <xs:appinfo>Error description</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="FileTrailer" type="W4A_FileTrailer">
                <xs:annotation>
                    <xs:appinfo>File control information</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4R_FileHeader">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="FileLabel" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Value is "ADV.AP-RSP"</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="FormatVersion" type="W4D_Version">
                <xs:annotation>
                    <xs:appinfo>File format version: "2.0"</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="InwardSender" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Sender file code. Codes are defined in the
Member ID field of the BIN table ("Full \
Configuration Setup \ Routing \ BIN
Groups \ [BIN Table]").</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="InwardCreationDate" type="W4D_Date">
                <xs:annotation>
                    <xs:appinfo>Creation date of the incoming file. The field
has the same value as the CreationDate field
of the incoming file.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="InwardCreationTime" type="W4D_Time">
                <xs:annotation>
                    <xs:appinfo>The creation date of the incoming file. The field
has the same value as the CreationTime field
of the incoming file.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="InwardNumber" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Sequential number of the incoming file within
the current day. The field has the same value
as the Number field of the incoming file.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="CreationDate" type="W4D_Date">
                <xs:annotation>
                    <xs:appinfo>Response file creation date</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="CreationTime" type="W4D_Time">
                <xs:annotation>
                    <xs:appinfo>Response file creation time</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4R_ResponseFileHeader">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="FileLabel" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Value is "ADV.AP-RSP"</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="FormatVersion" type="W4D_Version">
                <xs:annotation>
                    <xs:appinfo>File format version: "2.0"</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="1" minOccurs="1">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Sender" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo>Sender file code. Codes are defined in the
Member ID field of the BIN table ("Full \
Configuration Setup \ Routing \ BIN
Groups \ [BIN Table]").</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="InwardSender" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo>Sender file code. Codes are defined in the
Member ID field of the BIN table ("Full \
Configuration Setup \ Routing \ BIN
Groups \ [BIN Table]").</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="InwardCreationDate" type="W4D_Date">
                        <xs:annotation>
                            <xs:appinfo>Creation date of the incoming file. The field
has the same value as the CreationDate field
of the incoming file.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="InwardCreationTime" type="W4D_Time">
                        <xs:annotation>
                            <xs:appinfo>The creation date of the incoming file. The field
has the same value as the CreationTime field
of the incoming file.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="InwardNumber" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo>Sequential number of the incoming file within
the current day. The field has the same value
as the Number field of the incoming file.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Number" type="W4D_Counter">
                <xs:annotation>
                    <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="CreationDate" type="W4D_Date">
                <xs:annotation>
                    <xs:appinfo>Response file creation date</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="CreationTime" type="W4D_Time">
                <xs:annotation>
                    <xs:appinfo>Response file creation time</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_ApplicationFile">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="FileHeader">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="W4F_FileHeader">
                            <xs:sequence>
                                <xs:sequence maxOccurs="1" minOccurs="1">
                                    <xs:element maxOccurs="1" minOccurs="0" name="FileLabel" type="W4D_Code">
                                        <xs:annotation>
                                            <xs:appinfo>File label defines type of the file content.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="FormatVersion" type="W4D_Version">
                                        <xs:annotation>
                                            <xs:appinfo>File format version: 2.0</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="Sender" type="W4D_Code">
                                        <xs:annotation>
                                            <xs:appinfo>Sender code. The code from the "Member ID"
field of the BIN table ("Full \ Configuration
Setup \ Routing \ BIN Groups \ [BIN
Table]") with its 3-character prefix removed.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="CreationDate" type="W4D_Date">
                                        <xs:annotation>
                                            <xs:appinfo>File creation date.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="CreationTime" type="W4D_Time">
                                        <xs:annotation>
                                            <xs:appinfo>File creation time.</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:choice maxOccurs="1" minOccurs="1">
                                        <xs:element maxOccurs="1" minOccurs="1" name="Number" type="W4D_Counter">
                                            <xs:annotation>
                                                <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:choice maxOccurs="1" minOccurs="1">
                                        <xs:element maxOccurs="1" minOccurs="1" name="Institution" type="W4D_Code">
                                            <xs:annotation>
                                                <xs:appinfo>ID of financial institution assigned to the
application. Codes are defined in the Branch
Code field of the Financial Institutions table
("Full \ Configuration Setup \ Main Tables \
Financial Institutions").</xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:choice>
                                </xs:sequence>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="ApplicationsList">
                <xs:annotation>
                    <xs:appinfo>Applications list.</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="Application" type="W4T_Application">
                            <xs:annotation>
                                <xs:appinfo>Applications</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_FileHeader">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FileLabel" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Field value – "ADV.APPL"</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="FormatVersion" type="W4D_Version">
                <xs:annotation>
                    <xs:appinfo>File format version: 2.0</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="Sender" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Sender code. The code from the "Member ID" field of the BIN table ("Full \ Configuration Setup \ Routing \ BIN Groups \ [BIN Table]") with its 3-character prefix removed.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="CreationDate" type="W4D_Date">
                <xs:annotation>
                    <xs:appinfo>File creation date.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="CreationTime" type="W4D_Time">
                <xs:annotation>
                    <xs:appinfo>File creation time.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="Number" type="W4D_Counter">
                <xs:annotation>
                    <xs:appinfo>Sequential file number within the creation date.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="Institution" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>ID of financial institution assigned to the
application. Codes are defined in the Branch
Code field of the Financial Institutions table
("Full \ Configuration Setup \ Main Tables \
Financial Institutions").</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ApplicationFile" type="W4T_ApplicationFile"/>
    <xs:element name="ApplicationResponseFile" type="W4R_ApplicationResponseFile"/>
</xs:schema>
